/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  src: local("Poppins Italic"), local("Poppins-Italic"), url(https://fonts.gstatic.com/s/poppins/v9/pxiGyp8kv8JHgFVrJJLucXtAKPY.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  src: local("Poppins Italic"), local("Poppins-Italic"), url(https://fonts.gstatic.com/s/poppins/v9/pxiGyp8kv8JHgFVrJJLufntAKPY.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  src: local("Poppins Italic"), local("Poppins-Italic"), url(https://fonts.gstatic.com/s/poppins/v9/pxiGyp8kv8JHgFVrJJLucHtA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  src: local("Poppins Medium Italic"), local("Poppins-MediumItalic"), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmg1hVFteOcEg.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  src: local("Poppins Medium Italic"), local("Poppins-MediumItalic"), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmg1hVGdeOcEg.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  src: local("Poppins Medium Italic"), local("Poppins-MediumItalic"), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmg1hVF9eO.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 600;
  src: local("Poppins SemiBold Italic"), local("Poppins-SemiBoldItalic"), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmr19VFteOcEg.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 600;
  src: local("Poppins SemiBold Italic"), local("Poppins-SemiBoldItalic"), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmr19VGdeOcEg.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 600;
  src: local("Poppins SemiBold Italic"), local("Poppins-SemiBoldItalic"), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmr19VF9eO.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  src: local("Poppins Bold Italic"), local("Poppins-BoldItalic"), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmy15VFteOcEg.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  src: local("Poppins Bold Italic"), local("Poppins-BoldItalic"), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmy15VGdeOcEg.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  src: local("Poppins Bold Italic"), local("Poppins-BoldItalic"), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmy15VF9eO.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local("Poppins Regular"), local("Poppins-Regular"), url(https://fonts.gstatic.com/s/poppins/v9/pxiEyp8kv8JHgFVrJJbecmNE.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local("Poppins Regular"), local("Poppins-Regular"), url(https://fonts.gstatic.com/s/poppins/v9/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local("Poppins Regular"), local("Poppins-Regular"), url(https://fonts.gstatic.com/s/poppins/v9/pxiEyp8kv8JHgFVrJJfecg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: local("Poppins Medium"), local("Poppins-Medium"), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLGT9Z11lFc-K.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: local("Poppins Medium"), local("Poppins-Medium"), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLGT9Z1JlFc-K.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: local("Poppins Medium"), local("Poppins-Medium"), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLEj6Z11lFc-K.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLEj6Z1JlFc-K.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: local("Poppins Bold"), local("Poppins-Bold"), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLCz7Z11lFc-K.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: local("Poppins Bold"), local("Poppins-Bold"), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLCz7Z1JlFc-K.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: local("Poppins Bold"), local("Poppins-Bold"), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  font-family: Poppins;
  font-weight: 500;
  color: #777;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  word-wrap: break-word;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .medicalCenterImg {
    overflow: hidden !important;
  }
  .container {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    overflow-x: hidden;
  }
  .medicalCounter {
    margin-top: initial !important;
  }
  .professionalDoctor {
    width: 94% !important;
    margin: auto;
  }
  .medicalCenterText {
    width: 100% !important;
    margin: initial !important;
  }
}

@media screen and (max-width: 768px) {
  .cardTestimonials {
    padding: 0 15px 46px;
  }
  .medicalCenterCount {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: center;
  }
  .medicalCounter {
    margin-top: 0px !important;
  }
  .medicalCenterImg {
    display: none !important;
  }
  .lastestNewsSlider {
    overflow: hidden !important;
  }
  .medicalCenterCount .counter-wrap1:last-child {
    display: none !important;
  }
  .lastestNewsTitle, .professionalDoctorRow {
    display: block !important;
    -webkit-box-pack: initial !important;
        -ms-flex-pack: initial !important;
            justify-content: initial !important;
  }
  .testimonialsTitle h2 {
    font-size: 24px !important;
    line-height: 40px !important;
  }
  .professionalDoctorRow {
    width: 86% !important;
    margin: auto;
  }
}

@media screen and (max-width: 576px) {
  .medicalCenterImg {
    display: none;
  }
  .medicalCounter {
    margin-top: 46px !important;
  }
  .medicalCenterText h2 {
    font-size: 30px;
    line-height: 40px;
  }
  .cmsCounterTitle {
    padding-bottom: 50px !important;
  }
  .medicalCenterCount .counter-wrap1:last-child {
    display: block !important;
  }
  .medicalCenterCount {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

@media screen and (max-width: 1260px) {
  .professionalDoctor {
    width: 100% !important;
  }
}

@media screen and (max-width: 320px) {
  .testimonialsSlider {
    width: 430px !important;
  }
  .testimonialsTitle h2 {
    font-size: 20px !important;
    line-height: 40px !important;
  }
}

@media screen and (max-width: 1160px) {
  .professionalDoctor {
    width: 100% !important;
  }
}

.medicalCenterContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap !important;
      flex-wrap: nowrap !important;
  background-color: #f5f5f5;
  width: 100%;
  position: relative;
}

.medicalCenterContainer .medicalCenterText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 27%;
  margin: auto;
  padding-top: 79px;
  max-width: 100%;
  text-align: center;
}

.medicalCenterContainer .medicalCenterText h2 {
  font-size: 36px;
  color: #303030;
  line-height: 52px;
  text-align: inherit;
}

.medicalCenterContainer .medicalCenterText .color-default {
  color: #007df2;
}

.medicalCenterContainer .medicalCenterText .subTitle {
  font-size: 15px;
  line-height: 26px;
  color: #888888;
  width: 100px !important;
  margin-bottom: 35px;
  width: 100% !important;
}

.medicalCenterContainer .medicalCenterText ul {
  list-style: none;
  text-align: center;
  padding-top: 24px;
}

.medicalCenterContainer .medicalCenterText ul li {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 14px;
  font-weight: 600;
}

.medicalCenterContainer .medicalCenterText ul li i {
  color: #007df2;
  padding-right: 28px;
  font-style: normal;
  font-size: 12px;
}

.medicalCenterContainer .medicalCenterImg {
  width: 50%;
}

.medicalCenterContainer .medicalCenterImg .medicalImg img {
  -o-object-fit: cover;
     object-fit: cover;
}

.medicalCounter {
  width: 100%;
  margin-top: -105px;
  overflow-x: hidden;
}

.medicalCounter .medicalCenterCount {
  padding-top: 92px !important;
  padding-bottom: 65px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-shadow: 8px 0 62px rgba(48, 48, 48, 0.16);
          box-shadow: 8px 0 62px rgba(48, 48, 48, 0.16);
  background-color: #fff;
  overflow: hidden !important;
}

.medicalCounter .medicalCenterCount .counter-wrap1 {
  width: 100%;
  padding-bottom: 20px;
}

.medicalCounter .medicalCenterCount .counter-wrap1 .counter-digit-wrap {
  font-size: 60px;
  line-height: 1;
  font-weight: 400;
  color: #007df2;
  display: inline-block;
  position: relative;
}

.medicalCounter .medicalCenterCount .counter-wrap1 .counter-digit-wrap .subDigit, .medicalCounter .medicalCenterCount .counter-wrap1 .counter-digit-wrap .subDigit-end, .medicalCounter .medicalCenterCount .counter-wrap1 .counter-digit-wrap .subDigit-percent {
  display: inline-block;
  position: absolute;
  left: 130px;
  top: -9px;
  font-size: 28px;
  color: #007df2;
  font-weight: 400;
}

.medicalCounter .medicalCenterCount .counter-wrap1 .counter-digit-wrap .subDigit-percent {
  font-size: 60px;
  line-height: 1;
  font-weight: 400;
  color: #007df2;
  top: 0px;
  left: 95px;
}

.medicalCounter .medicalCenterCount .counter-wrap1 .counter-digit-wrap .subDigit-end {
  left: 60px;
  top: -9px;
}

.medicalCounter .medicalCenterCount .counter-wrap1 .counter-digit-wrap .cmsCcounter {
  padding-bottom: 20px;
}

.medicalCounter .medicalCenterCount .counter-wrap1 .counter-digit-wrap .cmsCounterTitle span {
  color: #888;
  font-weight: 600;
  margin-top: 20px;
  text-transform: capitalize;
  font-size: 20px;
  font-family: Poppins;
  line-height: 26px;
}

.professionalDoctor {
  padding-top: 50px;
  width: 75%;
  margin: auto;
}

.professionalDoctor .professionalDoctorRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 50px;
}

.professionalDoctor .professionalDoctorRow .professionalDoctorTitle {
  padding-top: 79px !important;
  padding-bottom: 4px !important;
}

.professionalDoctor .professionalDoctorRow .professionalDoctorTitle strong {
  font-size: 14px;
  color: #007df2;
  letter-spacing: 0.2em;
}

.professionalDoctor .professionalDoctorRow .memberArrow:hover {
  text-decoration: none;
}

.professionalDoctor .professionalDoctorRow .memberArrow span {
  color: #303030;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.professionalDoctor .professionalDoctorRow .memberArrow i {
  font-weight: 600;
  font-size: 56px;
  line-height: 30px;
  position: relative;
  color: #007df2;
  top: 17px;
  margin-left: 6px;
}

.cardDoctor {
  padding: 50px 10px 47px;
  background: white;
  -webkit-box-shadow: 0 0 10px rgba(48, 48, 48, 0.1);
          box-shadow: 0 0 10px rgba(48, 48, 48, 0.1);
  -webkit-transition: .6s;
  transition: .6s;
  text-align: center;
  margin-bottom: 50px;
}

.cardDoctor .doctorContent {
  width: 100%;
  position: relative;
}

.cardDoctor .doctorContent .doctorImg {
  text-align: center;
}

.cardDoctor .doctorContent .doctorName {
  text-align: center;
}

.cardDoctor .doctorContent .doctorName h4 {
  margin: 0 0 15px;
  padding-top: 41px;
  font-family: 'Poppins';
}

.cardDoctor .doctorContent .doctorName h4 a {
  text-decoration: none;
  color: #303030;
  font-size: 24px;
  font-weight: 600;
  font-family: 'Poppins';
  margin-bottom: 7px;
}

.cardDoctor .doctorContent .doctorName span {
  font-size: 15px;
  font-weight: 500;
  color: #888;
  text-transform: uppercase;
  font-family: 'Poppins';
}

.cardDoctor .doctorContent .socialIconDoctor {
  text-align: center;
  padding-top: 21px;
  cursor: pointer;
}

.cardDoctor .doctorContent .socialIconDoctor i {
  padding-right: 15px;
  color: #007df2;
}

.testimonialsContainer {
  padding-top: 82px;
  background-color: #f5f5f5 !important;
  position: relative;
  overflow-x: hidden;
}

.testimonialsContainer .testimonialsTitle h6 {
  color: #007df2;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.2em;
  font-weight: 700;
  margin-bottom: 15px;
}

.testimonialsContainer .testimonialsTitle h2 {
  font-size: 36px;
  line-height: 52px;
  color: #303030;
  font-weight: 600;
  padding-bottom: 27px;
}

.testimonialsContainer .testimonialsSlider {
  max-width: 450px;
  padding: 20px 15px;
}

.testimonialsContainer .testimonialsSlider .cardTestimonials {
  display: inline-block;
  background-color: #fff;
  padding: 50px 44px;
  position: relative;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: ew-resize;
}

.testimonialsContainer .testimonialsSlider .cardTestimonials p {
  font-size: 16px;
  line-height: 24px;
  color: #888;
}

.testimonialsContainer .testimonialsSlider .cardTestimonials .testimonialsContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.testimonialsContainer .testimonialsSlider .cardTestimonials .testimonialsContent img {
  max-width: 65px;
  border-radius: 50%;
}

.testimonialsContainer .testimonialsSlider .cardTestimonials .testimonialsContent .testimonialsText {
  padding-left: 35px;
}

.testimonialsContainer .testimonialsSlider .cardTestimonials .testimonialsContent .testimonialsText h5 {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 3px;
}

.testimonialsContainer .testimonialsSlider .cardTestimonials .testimonialsContent .testimonialsText p {
  font-weight: 400;
  color: #888;
}

.testimonialsContainer .testimonialsSlider .cardTestimonials i {
  position: absolute;
  right: 29px;
  color: #007df2;
  font-size: 22px;
  bottom: 59px;
}

.slick-prev,
.slick-next {
  display: none !important;
}

.lastestNewsContainer {
  padding-top: 50px;
  width: 75%;
  margin: auto;
  overflow-x: hidden;
}

.lastestNewsContainer .lastestNewsTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 50px;
}

.lastestNewsContainer .lastestNewsTitle h2 {
  margin: 0 0 15px;
  color: #303030;
  font-family: Poppins;
  font-weight: 600;
}

.lastestNewsContainer .lastestNewsTitle .memberArrow span {
  color: #303030;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.lastestNewsContainer .lastestNewsTitle .memberArrow i {
  font-weight: 600;
  font-size: 56px;
  line-height: 30px;
  position: relative;
  color: #007df2;
  top: 17px;
  margin-left: 6px;
}

.lastestNewsContainer .lastestNewsSlider {
  max-width: 500px !important;
  overflow: hidden !important;
}

.lastestNewsContainer .lastestNewsSlider .lastestNewsCard p {
  margin-top: 20px;
  padding-right: 10px;
}

.lastestNewsContainer .lastestNewsSlider .lastestNewsCard p:hover {
  color: black;
  cursor: pointer;
}

.lastestNewsContainer .lastestNewsSlider .lastestNewsCard a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  line-height: 26px;
  padding-top: 13px;
}

.lastestNewsContainer .lastestNewsSlider .lastestNewsCard a:hover {
  color: #007df2;
}

.owl-nav {
  display: none;
}

.owl-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: red;
  color: red;
}
/*# sourceMappingURL=style.css.map */