@media screen and (max-width:1024px) {

    .medicalCenterText {
        padding-left: 219.5px !important;
        height: 100%;
    }
    .container {
        padding-right: 0px;
        padding-left: 0px;
        margin-right: auto;
        margin-left: auto;
        overflow-x: hidden;
    }
    .medicalCounter {
        margin-top: initial !important;

}
.professionalDoctor {
    width: 70% !important;
   margin: auto;
}

}
@media screen and (max-width:768px) {

    .cardTestimonials {
        padding: 0 15px 46px;}

    .medicalCenterCount {
        flex-direction: column;
        text-align: center;

    }
    
    .medicalCounter {
        margin-top: 0px !important;
    }
    .medicalCenterText {
        padding-left: 201.5px !important;
        height: 100%;
    }

    .medicalCenterText ul li {
      padding-right: 35px !important;
        
    }

    .medicalCenterCount .counter-wrap1:last-child {
        display: none !important;
    }

}

@media screen and (max-width:992px) {
}

@media screen and (max-width:576px) {

    .medicalCenterImg {
        display: none;
    }
    .medicalCounter {
        margin-top: 46px !important;
       
    }
    .medicalCenterText h2 {
        font-size: 30px;
        line-height: 40px
    }
    .cmsCounterTitle {
        padding-bottom: 50px !important;
    }

    .medicalCenterCount .counter-wrap1:last-child {
        display: block !important;
    }



}

@media screen and(max-width:332px){
    .medicalCenterText {
        padding-left: 201.5px !important;
        height: 100%;
    }
  
}


@media screen and (max-width:1260px){
    .professionalDoctor {
        width: 100% !important;
       
    }
}

@media screen and(max-width:320px){
    .testimonialsSlider{
        width: 430px !important;
    }
}
