@media screen and (max-width:1024px) {

    .medicalCenterText {
        padding-left: 219.5px !important;
        height: 100%;
    }
    .container {
        padding-right: 0px;
        padding-left: 0px;
        margin-right: auto;
        margin-left: auto;
        overflow-x: hidden;
    }
    .medicalCounter {
        margin-top: initial !important;

}

@media screen and (max-width:768px) {

    .cardTestimonials {
        padding: 0 15px 46px;}

    .medicalCenterCount {
        flex-direction: column;
        text-align: center;

    }
    
    .medicalCounter {
        margin-top: 0px !important;
    }
    .medicalCenterText {
        padding-left: 201.5px !important;
        height: 100%;
    }

    .medicalCenterText ul li {
      padding-right: 35px !important;
        
    }

    .medicalCenterCount .counter-wrap1:last-child {
        display: none !important;
    }

}

@media screen and (max-width:992px) {
}

@media screen and (max-width:576px) {

    .medicalCenterImg {
        display: none;
    }
    .memberArrow{
        margin-top:0px !important;
    }

    .cmsCounterTitle {
        padding-bottom: 50px !important;
    }

    .medicalCenterCount .counter-wrap1:last-child {
        display: block !important;
    }

    .medicalCounter {
        margin-top: 0px !important;
    }


}
}
@media screen and(max-width:332px){
    .medicalCenterText {
        padding-left: 201.5px !important;
        height: 100%;
    }
}