.lastestNewsContainer {
    padding-top: 50px;
    width: 75%;
    margin: auto;
    overflow-x: hidden;
    .lastestNewsTitle {
        display: flex;
        justify-content: space-between;
      
        flex-wrap: wrap;
        padding-bottom: 50px;

        h2 {
            margin: 0 0 15px;
            color: #303030;
            font-family: Poppins;
            font-weight: 600;
        }

        .memberArrow {
            span {
                color: #303030;
                font-size: 14px;
                font-weight: 600;
                cursor: pointer;
            }

            i {
                font-weight: 600;
                font-size: 56px;
                line-height: 30px;
                position: relative;
                color: rgba(0, 125, 242, 1);
                top: 17px;
                margin-left: 6px;
            }
        }

        // 


    }

    .lastestNewsSlider {
    max-width: 500px !important;;
        // padding-right: 57px;
        overflow: hidden !important;
        .lastestNewsCard {
            p {
                margin-top: 20px;
                padding-right: 10px;

                &:hover {
                    color: black;
                    cursor: pointer;
                }
            }

            a {
                text-decoration: none;
                color: black;
                font-size: 18px;
                line-height: 26px;

                padding-top: 13px;

                &:hover {
                    color: $content-color;
                }
            }
        }
    }
}

.owl-nav{
    display: none;
}
 .owl-dots {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: center;
    background-color: red;
    color: red;
}